.cta{
    padding:110px 0;
    background:#ffffff;
}

.cta-box{

    background:linear-gradient(135deg,#0F4C81,#082540);

    color:#fff;

    border-radius:30px;

    padding:70px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:40px;

}

.cta-content span{

letter-spacing:2px;

font-size:13px;

font-weight:600;

opacity:.8;

}

.cta-content h2{

font-size:48px;

color:#fff;

margin:20px 0;

line-height:1.2;

}

.cta-content p{

color:#dbeafe;

max-width:650px;

line-height:1.8;

}

.cta-btn{

display:flex;

align-items:center;

gap:12px;

background:#fff;

color:#0F4C81;

padding:18px 34px;

border-radius:999px;

font-weight:700;

transition:.3s;

white-space:nowrap;

}

.cta-btn:hover{

transform:translateY(-3px);

}

@media(max-width:992px){

.cta-box{

flex-direction:column;

text-align:center;

padding:50px 30px;

}

.cta-content h2{

font-size:36px;

}

}