@import "tailwindcss";

/* ============================
   GOOGLE FONTS
============================ */

/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@500;600;700;800&display=swap"); */

/* ============================
   DESIGN TOKENS
============================ */

:root{

--primary:#0F4C81;
--primary-dark:#0B3961;

--accent:#F97316;

--dark:#0B1628;

--heading:#1E293B;

--text:#475569;

--light:#F8FAFC;

--border:#E2E8F0;

--container:1280px;

}

/* ============================
   RESET
============================ */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{

scroll-behavior:smooth;

}

body{

font-family:"Inter",sans-serif;

background:white;

color:var(--text);

overflow-x:hidden;

}

img{

display:block;

max-width:100%;

}

a{

text-decoration:none;

color:inherit;

}

button{

font-family:inherit;

cursor:pointer;

}

/* ============================
   COMMON
============================ */

.section{

padding:90px 0;

}

.container{

width:min(var(--container),92%);

margin:auto;

}

.heading{

font-family:"Poppins",sans-serif;

color:var(--heading);

}

.text{

color:var(--text);

line-height:1.8;

}

.shadow-card{

box-shadow:

0 10px 35px rgba(15,76,129,.08);

}